<footer class="footer">
  <div class="container">
    <p class = "text-muted" i18n = "@@footerText">
      Ten test jest oparty na <a href="https://dbhq.github.io">PolitiScales DBHQ Edition</a>,
      będącej lekko zmodyfikowaną wersją
      <a href="https://www.politiscales.net/">PolitiScales</a>, które bazują na
      <a href="https://8values.github.io/">8values</a>.<br>Główną motywacją do stworzenia kolejnego forka tej strony
      było fatalne tłumaczenie na język polski. Wykorzystane tutaj tłumaczenie jest mieszanką tłumaczeń PolitiScales
      z portalu <a href="https://crowdin.com/translate/politiscales/">Crowdin</a> oraz mojej własnej inwencji.
    </p>
  </div>
</footer>
