<div id="content">
  <h2 i18n="@@welcomeTipsHeader">Wskazówki</h2>
  <p i18n="@@welcomeTips1">
    Witaj w internetowym teście poglądów politycznych. Przedstawimy Ci serię stwierdzeń. Dla każdego z nich będziesz
    musiał/a wybrać przycisk odpowiadający opcji najbliższej swoim przekonaniom.
  </p>
  <br/>

  <p i18n="@@welcomeTips2">
    <svg
      width="24"
      height="24"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M12 22c1.1 0 2-.9 2-2h-4c0 1.1.89 2 2 2zm6-6v-5c0-3.07-1.64-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.63 5.36 6 7.92 6 11v5l-2 2v1h16v-1l-2-2z"
      />
    </svg>
    Pytania zakładają, że jesteś obywatelem/ką kraju o wielopartyjnym systemie politycznym i gospodarce rynkowej.
  </p>
  <p class="simpleText" i18n="@@welcomeTips3">
    <svg
      width="24"
      height="24"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M12 22c1.1 0 2-.9 2-2h-4c0 1.1.89 2 2 2zm6-6v-5c0-3.07-1.64-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.63 5.36 6 7.92 6 11v5l-2 2v1h16v-1l-2-2z"
      />
    </svg>
    Zawsze możesz pominąć odpowiedź na pytanie. Jeżeli jednak nie rozumiesz znaczenia któregoś z nich, spróbuj
    odwrócić jego znaczenie, aby lepiej zrozumieć, co się sugeruje.
  </p>
  <p i18n="@@welcomeTips4">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
    >
      <path d="M0 0h24v24H0z" fill="none"/>
      <path d="M1 21h22L12 2 1 21zm12-3h-2v-2h2v2zm0-4h-2v-4h2v4z"/>
    </svg>
    Test ten próbuje zaprezentować możliwie szeroki zbiór idei i zawiera kilka sformułowań, które mogą być
    kontrowersyjne, zwłaszcza w odniesieniu do rasizmu i homoseksualizmu.
  </p>

  <div>
    <button type="button" class="btn btn-primary" routerLink="quiz" i18n="@@startQuiz">Rozpocznij test</button>
  </div>
</div>
