<h2 id="question-number">Ładowanie...</h2>
<div class="questionBox"><p id="question-text"></p></div>
<div class="navButtons questionButtons">
  <button onclick="next_question(1)" class="strong-agree">
    Całkowicie się zgadzam
  </button>
  <button onclick="next_question(2/3)" class="agree">
    Raczej się zgadzam
  </button>
  <button onclick="next_question(0)" class="neutral">
    Nie mam zdania
  </button>
  <button onclick="next_question(-2/3)" class="disagree">
    Raczej się nie zgadzam
  </button>
  <button onclick="next_question(-1)" class="strong-disagree">
    Całkowicie się nie zgadzam
  </button>

  <a href="#" class="button" onclick="prev_question()" id="back_button">
    Poprzednie pytanie
  </a>
  <a class="button" href="/" id="back_button_off">
    Powrót do strony głównej
  </a>
</div>
